<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>/usr/local/sbin:/opt/local/bin:/opt/local/sbin:/Library/Frameworks/Python.framework/Versions/3.10/bin:/Library/Frameworks/Python.framework/Versions/3.9/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/Users/vincent/Library/Python/3.10/bin:/Library/Apple/usr/bin:/opt/homebrew/bin</string>
	</dict>
	<key>KeepAlive</key>
	<true/>
	<key>Label</key>
	<string>com.vincent.lastfm-scrobbler.job</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/vincent/Developer/code/other/lastfm-scrobbler/shell/lastfm-scrobbler.sh</string>
	</array>
    <key>StandardErrorPath</key>
    <string>./.logs/lastfm-scrobbler.log</string>
    <key>StandardOutPath</key>
    <string>./.logs/lastfm-scrobbler.log</string>
    <key>WorkingDirectory</key>
    <string>/Users/vincent/Developer/code/other/lastfm-scrobbler/</string>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>